<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="~{base :: head}"></head>
    <body>
        <div th:replace="~{base :: logo}"></div>

        <div class="container">
            <div th:replace="~{base :: titulo('Meus Livros')}"></div>
        </div>
        <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
            <a th:href="@{/livro/formulario}"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
        </nav>
        <div class="card mb-3" th:each="livro : ${livros}">
            <div class="card-body">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                    <span th:text="${livro.autorLivro}"/>
                    <span th:text="${livro.dataCadastro}" class="ml-2"/>
                </p>
                <a th:href="${(#mvc.url('LC#getDetalhamentoLivro').arg(0, livro.id)).build()}">
                    <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
                        <span th:text="${livro.nomeLivro}"/>
                    </h4>
                </a>
                <a th:href="/livro/editar"><span>Editar</span></a>
                <a th:href="/livro/excluir"><span>Excluir</span></a>
            </div>
        </div>
    </body>
</html>